.users {
  padding: 10px;
}

.selected-page {
  font-weight: bold;
}

.page {
  cursor: pointer;
  &:hover {
    font-weight: bold;
  }
  margin: 2px;
}
.pages {
  text-align: center;
  margin-top: 10px;
}
