.message {
  padding: 5px;
  max-width: 60%;
}

.message__item {
  padding: 10px;
  margin-bottom: 15px;
  background: #d6d6d6;
  border-radius: 15px;
}

.message:nth-child(even) {
  align-self: flex-end;
}
