.profileImage {
  width: 100%;
  height: 140px;
  background: url('../../../images/427157-amazing-death-star-background-2560x1440-images.jpg')
    center no-repeat;
  background-size: cover;
}

.userInfo {
  display: flex;
}

.userNameImage {
  display: flex;
  flex-direction: column;
  width: 120px;
  text-align: center;
}

.userInfo img {
  border: 1px solid black;
  border-radius: 50%;
}
.userInfo h2 {
  margin-top: 5px;
}

.profileUser {
  display: flex;
  padding: 20px;
}

.userDescription {
  flex: 1 0 50%;
  padding: 20px 10px;
}
