.posts {
  padding: 10px;
}

.newPost {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.newPost textarea {
  border-radius: 5px;
}

.postButton {
  margin-top: 10px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: royalblue;
  border-radius: 5px;
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.2em;
}

.postButton:hover {
  background-color: steelblue;
}
