$mainColor: #61DAFB;


*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  font-family: Arial;
}

.App{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  'header header'
  'sidebar content';
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-gap: 10px;
}

.content{
  grid-area: 'content';
  min-height: 100vh;
  background: $mainColor;
  overflow: hidden;
  overflow-wrap: break-word;
}

textarea{
  resize: none;
}
